body {
  background-color: rgb(196, 239, 239);
}

.container {
  background-color: rgb(255, 229, 178);
}

.jumbotron {
  text-align: center;
  background-color: white;
}

.jumbotron h1 {
  font-size: 400%
}

.btn-submit {
  background-color: ;
}